{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pasek z przyciskami</title>
<link href="{% static '/base.css' %}" rel="stylesheet">
</head>
<body>
{% if user.is_authenticated %}
    Witaj {{ user.username }}
    <a href="{% url 'logout' %}">wyloguj</a>
{% endif %}
  <div class="button-bar">
      <button><a href="{% url 'login' %}">LOGIN</a></button>
      <button><a href="{% url 'add_user' %}">ADD USER</a></button>
      <button><a href="{% url 'Index' %}">INDEX</a></button>
      <button><a href="{% url 'publishers' %}">PUBLISHERS</a></button>
      <button><a href="{% url 'add_publisher' %}">ADD PUBLISHER</a></button>
      <button><a href="{% url 'categories' %}">CATEGORIES</a></button>
      <button><a href="{% url 'add_category' %}">ADD CATEGORY</a></button>
  </div>
    <div class="button-bar">
      <button><a href="{% url 'add_author' %}">ADD AUTHOR</a></button>
      <button><a href="{% url 'authors' %}">AUTHORS</a></button>
      <button><a href="{% url 'add_book' %}">ADD BOOK</a></button>
      <button><a href="{% url 'books' %}">BOOKS</a></button>
      <button><a href="{% url 'book_generic_view' %}">BOOKS GEN</a></button>
      <button><a href="{% url 'author_generic_view' %}">AUTHOR GEN</a></button>
      <button><a href="{% url 'add_book_generic' %}">ADD BOOK GEN</a></button>
      <button><a href="{% url 'publisher_generic_view' %}">PUBLISHERS GEN</a></button>
      <button><a href="{% url 'add_publisher_generic' %}">ADD PUBLISHER GEN</a></button>
  </div>
<div>
    {% block zawartosc %}
    {{ context }}
    {% endblock %}
</div>
Publishers: {{ pc }}
</body>
</html>
